@charset "UTF-8";
@import url(./mediaQueries/style-768px.scss);
@import url(./mediaQueries/style-320px.scss);
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia/georgia-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial/arial-regular.ttf");
  font-weight: 400;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  color: #292929;
}

li {
  list-style-type: none;
}

h2 {
  font-weight: 400;
}

body.open-menu {
  overflow: hidden;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px 30px 40px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: #545454;
  transition: all 1s;
}

.logo-header {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.054em;
  line-height: 35px;
}

.logo-item {
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: right;
}

.menu-burger {
  display: none;
}

.menu {
  display: flex;
  padding-top: 16px;
  justify-content: flex-end;
  gap: 35px;
}

.menu-item {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  color: #545454;
}

.menu li:nth-child(2) {
  border-bottom: 3px solid #f1cdb3;
}

.menu li:nth-child(2) .menu-item {
  color: #292929;
  cursor: default;
}

.section-pets {
  background: #f6f6f6;
}

.block-pets {
  padding: 80px 40px 100px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 45px;
}

.pets-header {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.pets-container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  row-gap: 30px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.pets-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  transition: all 1s;
}

.pets-items:hover {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets-items:hover .pets-button-items {
  background: #fddcc4;
  cursor: pointer;
  border: none;
}

.pets-photo {
  width: 270px;
  height: 270px;
}

.pets-button-items {
  width: 187px;
  height: 52px;
  font-family: "Georgia";
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  background-color: #fafafa;
  transition: all 1s;
}

.block-button-pets {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-pets {
  width: 52px;
  height: 52px;
  border-radius: 100px;
}

.button1 {
  background: url("../../assets/svg/disabledtwoUn.svg");
  border: 2px solid #f1cdb3;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.button2 {
  background: url("../../assets/svg/disabledUn.svg");
  border: 2px solid #f1cdb3;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.button3 {
  background-color: #f1cdb3;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  color: #292929;
  pointer-events: none;
}

.button4 {
  border: 2px solid #f1cdb3;
  background: url("../../assets/svg/included.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 1s;
  cursor: pointer;
}

.button5 {
  border: 2px solid #f1cdb3;
  background: url("../../assets/svg/includedtwo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 1s;
  cursor: pointer;
}

.button-pets:not(:disabled):hover {
  background-color: #f1cdb3;
}

.button-pets:disabled {
  border: 2px solid #cdcdcd;
  cursor: auto;
}

.footer {
  background: url("../../assets/images/footer-gradient-background.png");
  background-size: cover;
}

.footer-container {
  padding: 40px 40px 0 40px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 16px;
}

.footer-locations {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding-top: 16px;
}

.contacts-header,
.locations-header {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.contacts-mail,
.contacts-phone,
.locations-boston,
.locations-london {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-mail {
  width: 40px;
  height: 32px;
  background: url("../../assets/svg/icon-email.svg");
}

.name-mail,
.phone-number,
.boston,
.london {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.boston {
  width: 259px;
}

.name-mail:hover,
.phone-number:hover,
.boston:hover,
.london:hover {
  color: #ffffff;
}

.icon-phone {
  width: 40px;
  height: 32px;
  background: url("../../assets/svg/icon-phone.svg");
}

.icon-locations1 {
  width: 22px;
  height: 32px;
  background: url("../../assets/svg/pin.svg");
}

.icon-locations2 {
  width: 22px;
  height: 32px;
  background: url("../../assets/svg/pin.svg");
}

.footer-puppy {
  width: 300px;
  height: 310px;
  background: url("../../assets/svg/footer-puppy.svg");
}

.contacts-header-320,
.locations-header-320 {
  display: none;
}

.popup-wrap {
  display: none;
  position: fixed;
  z-index: 2;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
}

.popup-wrap.active {
  display: flex;
}

.popup {
  display: flex;
  width: 900px;
  height: 500px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #fafafa;
  border-radius: 9px;
  margin-bottom: 52px;
}

.popup-block {
  display: flex;
  flex-direction: column;
}

.popup-btt {
  position: relative;
  left: 890px;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background-image: url(../../assets/svg/close.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.popup-btt:hover {
  background: #fddcc4;
  cursor: pointer;
  background-image: url(../../assets/svg/close.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.popup-img {
  width: 500px;
  height: 500px;
  background-size: cover;
}

.about-block {
  padding-top: 50px;
  padding-left: 29px;
  width: 351px;
  height: 362px;
}

.popup-name {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #000000;
  padding-bottom: 10px;
}

.popup-breed {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #000000;
}

.popup-description {
  width: 350px;
  padding: 40px 0;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #000000;
}

.popup-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.popup-list li::before {
  color: #f1cdb3;
  content: "•";
  padding-right: 10px;
}

.popup-list li {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #000000;
}

.popup-list span {
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */