@import url(./mediaQueries/style-768px.scss);
@import url(./mediaQueries/style-320px.scss);

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/georgia/georgia-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial/arial-regular.ttf");
  font-weight: 400;
}

input:invalid {
  border: 2px solid red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FAFAFA;
}

li {
  list-style-type: none;
}

h2 {
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-image: url(../../assets/images/start-background.png);
  background-size: cover;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px 0 40px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  transition: all 1s;
}

.logo-header {
  color: #F1CDB3;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.054em;
  line-height: 35px;
}

.logo-item {
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: right;
}

.menu-burger {
  display: none;
}

.menu {
  display: flex;
  padding-top: 16px;
  justify-content: flex-end;
  gap: 35px;
}

.menu li:first-child {
  border-bottom: 3px solid #F1CDB3;
}

.menu li:first-child .menu-item {
  color: #FAFAFA;
}

.menu li:first-child .menu-item:hover {
  color: #FAFAFA;
  cursor: default;
}

.menu-item {
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}

.section-start {
  background-image: url(../../assets/images/start-background.png);
  background-position: center -90px;
  background-size: cover;
}

.container-start {
  padding: 90px 40px 0 40px;
  display: flex;
  justify-content: space-between;
}

.content-start {
  margin-top: 163px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.content-header {
  font-family: 'Georgia';
  font-size: 44px;
  line-height: 57px;
  color: #FFFFFF;
}

.content-item {
  width: 460px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD
}

.puppy {
  width: 698px;
  height: 728px;
  background-image: url('../../assets/svg/start-screen-puppy.svg');
}

.button-start {
  width: 207px;
  height: 52px;
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 52px;
  letter-spacing: 0.06em;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  text-align: center;
  color: #292929;
  transition: all 0.5s;
}

.button-start:hover {
  background: #FDDCC4;
  color: #292929;
}

.section-about {
  padding: 80px 215px 100px 215px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-pets {
  width: 300px;
  height: 408px;
  background-image: url('../../assets/svg/about-pets.svg'); 
}

.content-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:25px;
}

.about-header {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}

.about-item {
  width: 430px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}

.section-pets {
  background: #F6F6F6;
}

.block-pets {
  background: #F6F6F6;
  padding: 80px 40px 100px 40px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px
}

.pets-header {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.pets-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 53px;
}

.button-left {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: url('../../assets/svg/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 1s;
}

.button-right {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: url('../../assets/svg/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 1s;
}

.button-left:hover, .button-right:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.pets-item {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

.pets-items {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 9px;
  transition: all 1s;
}

.pets-items:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;

  .pets-button-items {
    background: #FDDCC4;
    cursor: pointer;
    border: none;
  }
}

.slider {
  display: flex;
  max-width: 990px;
  overflow: hidden;
}

.pets-photo {
  width: 270px;
  height: 270px;
}

.pets-name {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets-button-items {
  width: 187px;
  height: 52px;
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  margin-bottom: 30px;
  background-color: white;
  letter-spacing: 0.06em;
  transition: all 0.5s;
}

.button-pets {
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 52px;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
  transition: all 0.5s;
}

.button-pets:hover {
  background: #FDDCC4;
  color: #292929;
}

.help {
  padding: 80px 127px 100px 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.help-header {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.help-content {
  display: flex;
  justify-content: center;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  flex-wrap: wrap;
  column-gap: 119px;
  row-gap: 55px;
}

.help-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.help-background1 {
  width: 60px;
  height: 60px;
  background: url('../../assets/svg/icon-pet-food.svg');
}

.help-background2 {
  width: 60px;
  height: 60px;
  background: url('../../assets/svg/icon-transportation.svg');
}

.help-background3 {
  width: 60px;
  height: 60px;
  background: url('../../assets/svg/icon-toys.svg');
}

.help-background4 {
  width: 60px;
  height: 60px;
  background: url('../../assets/svg/icon-bowls-and-cups.svg');
}

.help-background5 {
  width: 60px;
  height: 60px;
  background: url('../../assets/svg/icon-shampoos.svg');
}

.help-background6 {
  width: 60px;
  height: 60px;
  background: url('../../assets/svg/icon-vitamins.svg');
}

.help-background7 {
  width: 60px;
  height: 60px;
  background: url('../../assets/svg/icon-medicines.svg');
}

.help-background8 {
  width: 60px;
  height: 60px;
  background: url('../../assets/svg/icon-collars-leashes.svg');
}

.help-background9 {
  width: 60px;
  height: 60px;
  background: url('../../assets/svg/icon-sleeping-area.svg');
}

.section-donation {
  background: #F6F6F6;
}

.block-donation {
  padding: 80px 182px 100px 183px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.donation-dog {
  width: 505px;
  height: 261px;
  background: url('../../assets/svg/donation-dog.svg');
}

.donation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.donation-credit {
  background: #F1CDB3;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  margin-right: 30px;
  transition: all 1s;
}

.donation-credit:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.credit-card {
  width: 30px;
  height: 23px;
  background: url('../../assets/svg/credit-card.svg');
}

.credit-number {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  transition: all 1s;
}

.donation-header {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation-item1 {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #545454; 
}

.donation-item2 {
  width: 380px;
  font-family: 'Arial';
  font-style: italic;
  line-height: 18px;
  color: #B2B2B2;
  font-size: 12px;
}

.footer {
  background: url('../../assets/images/footer-gradient-background.png');
  background-size: cover;
}

.footer-container {
  padding: 40px 40px 0 40px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 16px;
}

.footer-locations {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding-top: 16px;
}

.contacts-header, .locations-header {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.contacts-mail, .contacts-phone, .locations-boston, .locations-london {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name-mail:hover, .phone-number:hover, .boston:hover, .london:hover {
  color: #FFFFFF;
}

.icon-mail {
  width: 40px;
  height: 32px;
  background: url('../../assets/svg/icon-email.svg');
}

.name-mail, .phone-number, .boston, .london {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.boston {
  width: 259px;
}

.icon-phone {
  width: 40px;
  height: 32px;
  background: url('../../assets/svg/icon-phone.svg');
}

.icon-locations1 {
  width: 22px;
  height: 32px;
  background: url('../../assets/svg/pin.svg');
}

.icon-locations2 {
  width: 22px;
  height: 32px;
  background: url('../../assets/svg/pin.svg');
}

.footer-puppy {
  width: 300px;
  height: 310px;
  background: url('../../assets/svg/footer-puppy.svg');
}

.contacts-header-320, .locations-header-320 {
  display: none;
}

.carousel-wrapper {
  width: 990px;
  overflow: hidden;
}

.carousel {
  display: flex;
  position: relative;
  left: -1080px;
  gap: 90px;
}

@keyframes move-right {
  from {left: -1080px;}
  to {left: -2160px;}
}

.transition-right {
  animation-name: move-right;
  animation-duration: 3s;
}

@keyframes move-left {
  from {left: -990px;}
  to {left: 0px;}
}

.transition-left {
  animation-name: move-left;
  animation-duration: 5s;
}

.hidden {
  display: none;
}
