
@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/georgia/georgia-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial/arial-regular.ttf");
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px 0 40px;
  background-image: url(../../assets/images/start-background.png);
}

.logo {
  width: 184px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-header {
  color: #F1CDB3;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.054em;
  line-height: 110%;
}

.logo-item {
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: right;
}

.menu {
  display: flex;
  width: 443px;
  padding-top: 16px;
  justify-content: flex-end;
  gap: 35px;

}

.menu li:first-child {
  border-bottom: 3px solid #F1CDB3;
}

.menu-item {
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.container-start {
  padding: 90px 40px 0 40px;
  display: flex;
  justify-content: space-between;
  background-image: url(../../assets/images/start-background.png);
  background-position: center -90px;
}

.content-start {
  width: 460px;
  height: 322px;
  margin-top: 163px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-header {
  width: 310px;
  height: 114px;
  font-family: 'Georgia';
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.content-item {
  width: 460px;
  height: 72px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD
}

.puppy {
  width: 698px;
  height: 728px;
  background-image: url('../../assets/svg/start-screen-puppy.svg');
}

.button-start {
  width: 207px;
  height: 52px;
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 52px;
  letter-spacing: 0.06em;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  text-align: center;
}
