@media (min-width: 320px) and (max-width: 767px) {
  .burger {
    width: 320px;
    height: 100%;
    overflow: scroll;
    padding: 248px 38px 0 39px;
    background-color: #292929;
    transform: translateX(100%);
    transition: transform 1s ease;
  }

  .burger-wrapper {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    background: rgba(41, 41, 41, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease;
  }

  .header-container {
    padding: 30px 20px 30px 20px;
    align-items: center;
  }

  .menu-burger {
    width: 30px;
    height: 22px;
    display: block;
    position: relative;
    transition: transform 0.6s ease;
    z-index: 2;
  }

  .burger-wrapper.active {
    opacity: 1;

    .burger {
      transform: translateX(0);
    }
  }

  .menu-burger.active {
    transform: rotate(90deg);
  }

  .menu {
    flex-direction: column;
    padding: 0 0 40px 0;
    gap: 40px;
    text-align: center;
  }

  .menu-item {
    font-size: 32px;
    line-height: 51.2px;
  }

  .menu li:nth-child(2) .menu-item {
    color: white;
    cursor: default;
  }

  .menu-burger span,
  .menu-burger::before,
  .menu-burger::after {
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: #000000;
  }

  .menu-burger::before,
  .menu-burger::after {
    content: "";
  }

  .menu-burger::before {
    top: 0;
  }

  .menu-burger::after {
    bottom: 0;
  }

  .menu-burger span {
    top: 10px;
  }

  .block-pets {
    padding: 42px 0;
    gap: 42px;
  }

  .pets-header {
    font-size: 25px;
    line-height: 32px;
  }

  .pets-container {
    padding: 0;
    justify-content: center;
  }

  .pets-items:nth-child(4),
  .pets-items:nth-child(5),
  .pets-items:nth-child(6),
  .pets-items:nth-child(7),
  .pets-items:nth-child(8) {
    display: none;
  }

  .block-button-pets {
    gap: 10px;
  }

  .footer-container {
    padding: 30px 10px 0 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer-contacts {
    padding-top: 0;
  }

  .locations-header, .contacts-header {
    display: none;
  }

  .locations-header-320, .contacts-header-320 {
    display: block;
    font-family: 'Georgia';
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }

  .contacts-mail, .contacts-phone {
    justify-content: center;
  }

  .footer-locations {
    padding-top: 0;
    gap: 40px;
  }

  .locations-boston, .locations-london {
    justify-content: flex-start;
  }

  .footer-puppy {
    width: 260px;
    height: 269px;
    background: url('../../../assets/svg/footer-puppy-320.svg');
  }

  .locations-header-320, .contacts-header-320 {
    display: block;
    font-family: 'Georgia';
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }

  .popup {
    width: 240px;
    height: 341px;
  }

  .popup-img {
    display: none;
  }

  .about-block {
    padding-top: 10px;
    padding-left: 10px;
    width: 230px;
    height: 321px;
    overflow: scroll;
  }

  .popup-description {
    padding: 20px 0 24px 0;
  font-size: 13px;
  line-height: 14px;
  width: 220px;
  }

  .popup-list {
    gap: 5px;
  }

  .popup-btt {
    left: 621px;
  }

  .popup-name, .popup-breed {
    text-align: center;
  }
}